src/flows/Screen_flow_to_display_the_Accounts_Name.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assigning_the_Names_of_the_Account</name>
        <label>assigning the Names of the Account</label>
        <locationX>442</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>loop_over_the_Accounts_records.AccountNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountNameList</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Screen flow to display the Accounts Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen flow to display the Accounts Name</label>
    <loops>
        <name>loop_over_the_Accounts_records</name>
        <label>loop over the Accounts records</label>
        <locationX>233</locationX>
        <locationY>324</locationY>
        <collectionReference>getAccountsRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assigning_the_Names_of_the_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_test_for_the_Accounts_namr_to_display</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccountsRecord</name>
        <label>getAccountsRecord</label>
        <locationX>424</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_the_Accounts_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_test_for_the_Accounts_namr_to_display</name>
        <label>Screen test for the Accounts namr to display</label>
        <locationX>600</locationX>
        <locationY>323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountNameList</name>
            <fieldText>&lt;p&gt;{!AccountsNametodisplay}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getAccountsRecord</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountsNametodisplay</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
